FORMAT: 1A
HOST: https://api.s.theorytestpro.co.uk/

# ttpapp API
ttpapp API is service make drive tests.

We use the following URLs for this API:

Production:
https://api.theorytestpro.co.uk/{action}
and

Staging:
https://api.s.theorytestpro.co.uk/{action}


## Authentication
We are using http basic auth


# Group User
Current user and his access level

## User [/api/app/user]
A single user object with all its details

_This call is used by the iOS app_
------------------------------------------

+ Model (application/json)

    User data, contains student details and info about partner
    + Body
    
            {
                "user": {
                    "id": 442064,
                    "email": "adi-student@example.com",
                    "name": "adi-student@example.com",
                    "student": {
                        "id": 447457,
                        "company_name": null,
                        "prefers_hq_video": true,
                        "speech_enabled": false,
                        "translation_enabled": true,
                        "translate_to": "pl",
                        "chosen_driving_instructor": true,
                        "vehicle_category_id": 1,
                        "confirmed_live": false,
                        "test_booked": null,
                        "test_booked_on": null,
                        "age_range": "",
                        "nationality": null,
                        "selected_for_ads": false,
                        "driving_school": {
                            "id": 447455,
                            "company_name": "adi-pete@example.com",
                            "instructor_name": "Sam",
                            "website_address": "red-adi.com",
                            "number_of_approved_driving_instructors": null,
                            "number_of_students_per_year": null,
                            "approved": false,
                            "brand_image": "/brand_images/original/missing.png",
                            "partner_code": "edfb85",
                            "address_1": "Not provided",
                            "address_2": null,
                            "town": "Not provided",
                            "county": null,
                            "postcode": "A1 1AA",
                            "phone": "Not provided",
                            "membership_number_pattern": null,
                            "membership_number_label": "Membership card barcode number",
                            "membership_number_explanation": null,
                            "confirmed_live": false,
                            "subdomain": "adi497312",
                            "franchise_owner": false
                        }
                    }
                }
            }
            
### Retrieve a User[GET]
+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
    
    [User][]
    
## User access [/api/app/user/access]
Info about access level.  

Levels:

- `full_access`
- `no_user`
- `trial`

_This call is used by the iOS app_
------------------------------------------

### Retrieve a User access[GET]
+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
    
            {
                "access": "full_access"
            }


# Group Quiz
Quiz is an attempt by a user at list of questions.


## Create many Quizzes [/api/app/quizzes/create_many]
### Bulk quiz creation[POST]
Create many quizzes 

_This call is used by the iOS app_
------------------------------------------

+ Request

    + Headers

            Accept: application/json
            
    + Body
    
            {
                "quizzes": [{
                    "quiz_specification_id":70, 
                    "quiz_questions": [{
                        "question_id":3000, 
                        "answer_a":"t"
                    }], 
                    "created_at":"2013-03-28 13:39:31"
                }]
            } 
       

+ Response 200 (application/json)
    
    + Body
    
            {"quizzes":[{"id":10279183,"student_id":609477,"quiz_specification_id":70,"created_at":"2013-03-28T13:39:31+00:00","updated_at":"2013-03-28T13:39:31+00:00","summary":null,"review":null,"complete":true,"reveal_answers":null,"case_study_id":null,"cached_score":null,"topic_id":null,"quiz_questions":[{"id":212921789,"quiz_id":10279183,"question_id":3000,"review":null,"position":1,"correct":true,"answer_a":"t","answer_b":null,"answer_c":null,"answer_d":null,"answer_e":null,"answer_f":null}]}]}





## Read Quiz Collection [/api/app/quizzes{?by_time}]
### List all Quizzes [GET]

_This call is used by the iOS app_
------------------------------------------

+ Parameters
    + by_time (optional, hash) ... ex.: by_time: {from: '2013-03-01'}.

+ Request

    + Headers

            Accept: application/json


+ Response 200 (application/json)

    + Body
        
            {"quizzes":[{"id":10279183,"student_id":609477,"quiz_specification_id":70,"created_at":"2013-03-28T13:39:31+00:00","updated_at":"2013-03-28T13:39:31+00:00","summary":null,"review":null,"complete":true,"reveal_answers":null,"case_study_id":null,"cached_score":null,"topic_id":null,"quiz_questions":[{"id":212921789,"quiz_id":10279183,"question_id":3000,"review":null,"position":1,"correct":true,"answer_a":"t","answer_b":null,"answer_c":null,"answer_d":null,"answer_e":null,"answer_f":null}]}]}



# Group Question

Questions available in for app


## Question Collection [/api/app/questions{?vehicle_category}]
### List all Questions [GET]

_This call is used by the iOS app_
------------------------------------------

+ Parameters
    + vehicle_category (optional, number) ... ex.: vehicle_category: 1.

+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    + Body
    
            [
                {
                "question": {
                    "id":2567,
                    "topic_name":"Accidents",
                    "stem":"You have stopped at an incident to give help. Which THREE things should you do?",
                    "stem_image_path":"quiz/",
                    "mark_answer_text":"Mark three answers",
                    "answer":"ABE",
                    "option_a":"Keep injured people warm and comfortable",
                    "option_b":"Keep injured people calm by talking to them reassuringly",
                    "option_c":"Keep injured people on the move by walking them around",
                    "option_d":"Give injured people a warm drink",
                    "option_e":"Make sure that injured people are not left alone",
                    "option_f":null,
                    "image_a_path":"quiz/",
                    "image_b_path":"quiz/",
                    "image_c_path":"quiz/",
                    "image_d_path":"quiz/",
                    "image_e_path":"quiz/",
                    "image_f_path":"quiz/",
                    "northern_ireland_exempt":null,
                    "free":true,
                    "explanation":"There are a number of things you can do to help, even without expert training. Be aware of further danger and fire, make sure the area is safe. People may be in shock. Don\u2019t give them anything to eat or drink. Keep them warm and comfortable and reassure them. Don\u2019t move injured people unless there is a risk of further danger.",
                    "band_number":null,
                    "number_of_answers":3
                }
            }
            ]



# Group Topic
Topic is a category for questions.


## Topics Collection [/api/app/topics{?vehicle_category}]
### List all Topics [GET]

_This call is used by the iOS app_
------------------------------------------

+ Parameters
    + vehicle_category (optional, number) ... ex.: vehicle_category: 1

+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
        
    + Body
    
            {"topics":[{"id":1,"name":"Accidents","question_count":79,"question_ids":[2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619],"vehicle_category_id":1},{"id":2,"name":"Alertness","question_count":37,"question_ids":[2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683],"vehicle_category_id":1},{"id":3,"name":"Attitude","question_count":50,"question_ids":[2685,2686,2687,2688,2689,2690,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740],"vehicle_category_id":1},{"id":4,"name":"Documents","question_count":44,"question_ids":[2764,2765,2766,2767,2768,2769,2772,2773,2774,2775,2776,2777,2778,2779,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810],"vehicle_category_id":1},{"id":5,"name":"Hazard Awareness","question_count":96,"question_ids":[2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924],"vehicle_category_id":1},{"id":6,"name":"Motorway Rules","question_count":67,"question_ids":[2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963,2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2985,2986,2987,2988,2989,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000],"vehicle_category_id":1},{"id":7,"name":"Other Types of Vehicle","question_count":27,"question_ids":[3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028,3029],"vehicle_category_id":1},{"id":8,"name":"Road and Traffic Signs","question_count":156,"question_ids":[3039,3040,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050,3051,3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080,3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091,3092,3093,3094,3095,3096,3097,3098,3099,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116,3117,3118,3119,3120,3121,3122,3123,3124,3125,3126,3127,3128,3129,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142,3143,3144,3145,3146,3147,3148,3149,3150,3151,3152,3153,3154,3155,3156,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176,3177,3178,3179,3180,3181,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191,3192,3193,3194],"vehicle_category_id":1},{"id":9,"name":"Rules of the Road","question_count":75,"question_ids":[3208,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3222,3223,3224,3225,3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248,3249,3250,3251,3252,3253,3254,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3275,3276,3277,3278,3279,3280,3281,3282],"vehicle_category_id":1},{"id":10,"name":"Safety and Your Vehicle/Motorcycle","question_count":112,"question_ids":[3349,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359,3360,3361,3362,3363,3364,3365,3366,3367,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388,3389,3390,3391,3392,3393,3394,3395,3396,3397,3398,3399,3400,3401,3402,3403,3404,3405,3406,3407,3408,3409,3410,3411,3412,3413,3414,3415,3416,3417,3418,3419,3420,3421,3422,3423,3424,3425,3426,3427,3428,3429,3430,3431,3432,3433,3434,3435,3436,3437,3438,3439,3440,3441,3442,3443,3444,3445,3446,3447,3448,3449,3450,3451,3452,3453,3454,3455,3456,3457,3458,3459,3460],"vehicle_category_id":1},{"id":11,"name":"Safety Margins","question_count":59,"question_ids":[3461,3462,3463,3464,3465,3466,3467,3500,3501,3502,3503,3504,3505,3506,3507,3508,3509,3510,3511,3512,3513,3514,3515,3516,3517,3518,3519,3520,3521,3522,3523,3524,3525,3526,3527,3528,3529,3530,3531,3532,3533,3534,3535,3536,3537,3538,3539,3540,3541,3542,3543,3544,3545,3546,3547,3548,3549,3550,3551],"vehicle_category_id":1},{"id":12,"name":"Vehicle/Motorcycle Handling","question_count":62,"question_ids":[3592,3593,3594,3595,3596,3597,3598,3599,3600,3601,3602,3603,3604,3605,3606,3607,3608,3609,3610,3611,3612,3613,3614,3615,3616,3617,3618,3619,3620,3621,3622,3623,3624,3625,3626,3627,3628,3629,3630,3631,3632,3633,3634,3635,3636,3637,3638,3639,3640,3641,3642,3643,3644,3645,3646,3647,3648,3649,3650,3651,3652,3653],"vehicle_category_id":1},{"id":13,"name":"Vehicle/Motorcycle Loading","question_count":15,"question_ids":[3686,3687,3688,3689,3690,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700],"vehicle_category_id":1},{"id":14,"name":"Vulnerable Road Users","question_count":81,"question_ids":[3715,3716,3717,3718,3719,3720,3721,3722,3723,3724,3725,3726,3727,3728,3729,3730,3731,3732,3733,3734,3735,3736,3737,3738,3739,3740,3741,3742,3743,3744,3745,3746,3747,3748,3749,3750,3751,3752,3753,3754,3755,3756,3757,3758,3759,3760,3761,3762,3763,3764,3765,3766,3767,3768,3769,3770,3771,3772,3773,3774,3775,3776,3777,3778,3779,3780,3781,3782,3783,3784,3785,3786,3787,3788,3789,3790,3791,3792,3793,3794,3795],"vehicle_category_id":1}]



  
# Group Hazard perception tests
Resources to take hazard perception video tests

## Videos Collection [/api/hpt/videos]
### List all the videos available to be played [GET]

_This call is used by the iOS app_
------------------------------------------

+ Request
    
    + Headers
    
            Accept: application/json

+ Response 200 (application/json)
    
    + Body

            {"videos":[{"id":1,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/introduction_hq_h.mp4","description":"Introduction","trial":true,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/intro.jpg","video_id":0,"traps":[]},{"id":2,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_1_problem_hq.mp4","description":"Video 1","trial":true,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_1_problem.jpg","video_id":1,"traps":[{"id":1,"start_point":36,"end_point":44,"description":"The pedestrian crossing the street is in a hurry. What is he going to do?"}]},{"id":3,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_2_problem_hq.mp4","description":"Video 2","trial":true,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_2_problem.jpg","video_id":2,"traps":[{"id":2,"start_point":52,"end_point":58,"description":"There is a parked car ahead that is indicating to pull out. Have they seen the fast-approaching cyclist?"}]},{"id":4,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_3_problem_hq.mp4","description":"Video 3","trial":true,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_3_problem.jpg","video_id":3,"traps":[{"id":3,"start_point":14,"end_point":19,"description":"The man is to trying to catch the attention of the bus driver. You will need to stop to avoid hitting him."}]},{"id":5,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_4_problem_hq.mp4","description":"Video 4","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_4_problem.jpg","video_id":4,"traps":[{"id":4,"start_point":29,"end_point":34,"description":"There are lots of school children on the pavement and there is a school crossing patrol ahead. You may be asked to stop."}]},{"id":6,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_5_problem_hq.mp4","description":"Video 5","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_5_problem.jpg","video_id":5,"traps":[{"id":5,"start_point":22,"end_point":26,"description":"Watch out for the young child cycling on the pavement. This will cause you to brake rapidly."}]},{"id":7,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_6_problem_hq.mp4","description":"Video 6","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_6_problem.jpg","video_id":6,"traps":[{"id":6,"start_point":45,"end_point":53,"description":"The car merging from the left slip road will cause you to change direction in to the other lane."}]},{"id":8,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_7_problem_hq.mp4","description":"Video 7","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_7_problem.jpg","video_id":7,"traps":[{"id":7,"start_point":12,"end_point":17,"description":"There are pedestrians ahead that are approaching the crossing. You will need to stop for them."}]},{"id":9,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_8_problem_hq.mp4","description":"Video 8","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_8_problem.jpg","video_id":8,"traps":[{"id":8,"start_point":10,"end_point":14,"description":"A car on the right turns onto this narrow road. You need to change direction so they can pass."}]},{"id":10,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/Cows1_hq.mp4","description":"Video 9","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/Cows1.jpg","video_id":9,"traps":[{"id":9,"start_point":38,"end_point":44,"description":"You are on a narrow rural road. There are cattle ahead that will cause you to slow down."}]},{"id":11,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/Maninroad1_hq.mp4","description":"Video 10","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/Maninroad1.jpg","video_id":10,"traps":[{"id":10,"start_point":30,"end_point":36,"description":"There is a man ahead who has got out of his vehicle. You will need to change direction to avoid hitting him."}]},{"id":12,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/Motorway4_hq.mp4","description":"Video 11","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/Motorway4.jpg","video_id":11,"traps":[{"id":11,"start_point":28,"end_point":32,"description":"A slow lorry is pulling out of its lane to overtake another vehicle. This will cause you to slow down."}]},{"id":13,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/Pedestrians2_hq.mp4","description":"Video 12","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/Pedestrians2.jpg","video_id":12,"traps":[{"id":12,"start_point":53,"end_point":58,"description":"A pedestrian is slowly walking across the road. You will need to slow and swerve to avoid him."}]},{"id":14,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/Pedestrians3_hq.mp4","description":"Video 13","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/Pedestrians3.jpg","video_id":13,"traps":[{"id":13,"start_point":57,"end_point":61,"description":"Pedestrians are walking along the road. You will need to slow down and change direction to allow them to pass."}]},{"id":15,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/Pedestrians4_hq.mp4","description":"Video 14","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/Pedestrians4.jpg","video_id":14,"traps":[{"id":14,"start_point":18,"end_point":24,"description":"The taxi ahead is picking up passengers. You will need to change direction to avoid hitting them."}]},{"id":16,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/PullingOut4_hq.mp4","description":"Video 15","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/PullingOut4.jpg","video_id":15,"traps":[{"id":15,"start_point":34,"end_point":43,"description":"The car ahead has mounted the kerb and intends to pull out. You will need to slow down to avoid hitting them."}]},{"id":17,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/SingleTrack1_hq.mp4","description":"Video 16","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/SingleTrack1.jpg","video_id":16,"traps":[{"id":16,"start_point":34,"end_point":40,"description":"You are on a narrow road. You will need to slow down to allow any oncoming traffic to pass."}]},{"id":18,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/PedestrianCrossing1_hq.mp4","description":"Video 17","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/PedestrianCrossing1.jpg","video_id":17,"traps":[{"id":17,"start_point":51,"end_point":56,"description":"There is pedestrian crossing ahead that will cause you to stop."}]},{"id":19,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/SlipRoad1_hq.mp4","description":"Video 18","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/SlipRoad1.jpg","video_id":18,"traps":[{"id":18,"start_point":34,"end_point":41,"description":"The is merging traffic coming from the slip road. You will need to change direction to avoid it."}]},{"id":20,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_19_problem_dual_h.mp4","description":"Video 19","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/dual.jpg","video_id":19,"traps":[{"id":19,"start_point":24,"end_point":28,"description":"Watch out for the slow street cleaning vehicle. Cars in front are swerving to avoid this."},{"id":20,"start_point":46,"end_point":51,"description":"There is a bus stop ahead. The bus is braking. Will you be forced to change direction?"}]},{"id":21,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_21_jd_h.mp4","description":"Video 20","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_21_jd.jpg","video_id":21,"traps":[{"id":21,"start_point":36,"end_point":41,"description":" There is a skip on your side of the road. Cars are approaching in the opposite direction."}]},{"id":22,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_100_rs_h.mp4","description":"Video 21","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_100_rs.jpg","video_id":22,"traps":[{"id":22,"start_point":17,"end_point":22,"description":" A white van emerges from the left hand side and doesn't slow down. You must stop."}]},{"id":23,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_101_rs_h.mp4","description":"Video 22","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_101_rs.jpg","video_id":23,"traps":[{"id":23,"start_point":19,"end_point":25,"description":" A blue car stops and indicates right. You must stop."}]},{"id":24,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_102_rs_h.mp4","description":"Video 23","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_102_rs.jpg","video_id":24,"traps":[{"id":24,"start_point":25,"end_point":30,"description":"Two people are crossing the road, you must stop."},{"id":25,"start_point":51,"end_point":58,"description":"There is a child in the road and an oncoming car approaching. Slow down and stop."}]},{"id":25,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/Clip_104_rs_h.mp4","description":"Video 24","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/Clip_104_rs.jpg","video_id":25,"traps":[{"id":26,"start_point":26,"end_point":31,"description":" A silver car pulls out into the road from the left hand side. You must slow down."}]},{"id":26,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_108_jd_h.mp4","description":"Video 25","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_108_jd.jpg","video_id":108,"traps":[{"id":32,"start_point":36,"end_point":42,"description":"Watch out for the impatient bus that is indicating an intention to turn onto the road."}]},{"id":27,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_109_jd_h.mp4","description":"Video 26","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_109_jd.jpg","video_id":109,"traps":[{"id":33,"start_point":27,"end_point":32,"description":"A car is approaching up this narrow road. You must slow down to all them to pass."}]},{"id":28,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_110_jd_h.mp4","description":"Video 27","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_110_jd.jpg","video_id":110,"traps":[{"id":34,"start_point":12,"end_point":18,"description":"A wide van has its hazard lights on. You will need to slow down and change direction so you can drive around."}]},{"id":29,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_111_rl_h.mp4","description":"Video 28","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_111_rl.jpg","video_id":111,"traps":[{"id":35,"start_point":24,"end_point":31,"description":"There is merging traffic coming from the slip road. You will need to change direction to avoid it."}]},{"id":30,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_112_rl_h.mp4","description":"Video 29","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_112_rl.jpg","video_id":112,"traps":[{"id":36,"start_point":19,"end_point":24,"description":"The car ahead is reversing to park. You will have to stop for them to complete the manoeuvre, and allow the car facing you to pass."}]},{"id":31,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_113_rl_h.mp4","description":"Video 30","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_113_rl.jpg","video_id":113,"traps":[{"id":37,"start_point":15,"end_point":22,"description":"There is a van parked in the road. You can see the car ahead swerving round it. You will have to slow down to allow oncoming traffic to pass."},{"id":38,"start_point":33,"end_point":39,"description":"Pedestrians are crossing the road. You will have to slow down as one walks in front of the car. "}]},{"id":32,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_114_rl_h.mp4","description":"Video 31","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_114_rl.jpg","video_id":114,"traps":[{"id":39,"start_point":10,"end_point":16,"description":"Due to parked vehicles, oncoming traffic is in the middle of the road. You will have to stop to let oncoming vehicles pass."}]},{"id":33,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_115_rl_h.mp4","description":"Video 32","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_115_rl.jpg","video_id":115,"traps":[{"id":40,"start_point":18,"end_point":24,"description":"The car in front brakes, indicates and begins to park. You will have to change direction to avoid the vehicle."}]},{"id":34,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_116_rl_h.mp4","description":"Video 33","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_116_rl.jpg","video_id":116,"traps":[{"id":41,"start_point":12,"end_point":21,"description":"A van has pulled up on the other side of the road. The bike in front is being ridden unpredictably. You will have to slow down to deal with this hazard, and change direction to get past the van."}]},{"id":35,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_117_rl_h.mp4","description":"Video 34","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_117_rl.jpg","video_id":117,"traps":[{"id":42,"start_point":18,"end_point":24,"description":"The delivery van ahead is turning right and currently blocking your lane. You will have to change direction to avoid the vehicle."}]},{"id":36,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_118_rl_h.mp4","description":"Video 35","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_118_rl.jpg","video_id":118,"traps":[{"id":43,"start_point":6,"end_point":11,"description":"There is a pedestrian at the zebra crossing. The car ahead has stopped to let them pass. You must slow down."}]},{"id":37,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_119_rl_h.mp4","description":"Video 36","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_119_rl.jpg","video_id":119,"traps":[{"id":44,"start_point":25,"end_point":30,"description":"A car is waiting to turn right and you will have to change direction to drive around it."},{"id":45,"start_point":35,"end_point":39,"description":"There is a van approaching in the middle of the road. To avoid it you must pull in to the side of the road."}]},{"id":38,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_120_rl_h.mp4","description":"Video 37","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_120_rl.jpg","video_id":120,"traps":[{"id":46,"start_point":10,"end_point":14,"description":"The van ahead turns its hazard lights on and pulls into the side of the road. You must stop and then manoeuvre around this."}]},{"id":39,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_121_rl_h.mp4","description":"Video 38","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_121_rl.jpg","video_id":121,"traps":[{"id":47,"start_point":27,"end_point":31,"description":"A scooter approaches indicating you it is turning right. It pulls out in front you so you must slow down."},{"id":48,"start_point":39,"end_point":43,"description":"The van approaches the roundabout and then pulls out at speed, forcing you to slow down."}]},{"id":40,"source_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/video/clip_122_rl_h.mp4","description":"Video 39","trial":false,"thumbnail_url":"http://app.s.theorytestpro.co.uk/theorytest_hpt/player3/thumbnails/clip_122_rl.jpg","video_id":122,"traps":[{"id":49,"start_point":8,"end_point":11,"description":"A group of pedestrians approach the zebra crossing. You should stop to allow them time to cross."}]}]}
            
            


## HazardPerceptionTest Collection [/api/user/hpt_tests]
### List all HazardPerceptionTests [GET]

_This call is used by the iOS app_
------------------------------------------

+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
    + Body
    
            {
                "hpt_tests": 
                [
                    {
                        "id": 2675680,
                        "student_id": 447457,
                        "video_id": 1,
                        "created_at": "2013-03-22T11:30:31+00:00",
                        "disqualified": "false",
                        "score": 3,
                        "score_out_of": 5
                    },
                    {
                        "id": 2675682,
                        "student_id": 447457,
                        "video_id": 1,
                        "created_at": "2013-03-29T16:02:32+00:00",
                        "disqualified": "false",
                        "score": 3,
                        "score_out_of": 5
                    }
                ]
            }

## Create many HazardPerceptionTests [/api/user/hpt_tests/create_many]
### Bulk hazard perception test attempt creation[POST]
Create many hazard perception test attemtps - record a user's attempt.

_This call is used by the iOS app_
------------------------------------------


+ Request

    + Headers

            Accept: application/json
            
    
    + Body
    
            {
                "hpt_tests":
                    [
                        {
                            "video_id": 3, 
                            "score": 7, 
                            "score_out_of": 8, 
                            "created_at": "2013-03-04 12:45:12", 
                            "disqualified": false 
                        } 
                    ]
                }
            }

+ Response 200 (application/json)
    + Body

            {
                "hpt_tests": 
                [
                    {
                        "id": 2675680,
                        "student_id": 447457,
                        "video_id": 3,
                        "created_at": "2013-03-04T12:45:12+00:00",
                        "disqualified": "false",
                        "score": 7,
                        "score_out_of": 8
                    }
                ]
            }





# Group DEPRECATED DO NOT USE

_These calls are not used in the iOS app_
-----------------------------------------


Available vehicle categories

## VehicleCategory [/api/app/vehicle_categories/{id}]
Vehicle category, includes list of associated topis and quiz specification.

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Quiz
    
+ Model (application/json)
    + Body
    
            {
                "vehicle_category": {
                    "id":1,
                    "name": "Car Test",
                    "short_name": "Car", 
                    "pass_mark": 0.86
                    "quiz_specification_ids": [1,2,3,4,5,6,7,8,9,10,11,12,13,14],
                    "topic_ids": [1,3,5,9,11,21,22,24,26,28,30,31,32,33,34,47,48,49,50,70,71,72,85,86]
                }
            }


### Retrieve a VehicleCategory[GET]
+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
    
    [VehicleCategory][]

## VehicleCategory Collection [/api/app/vehicle_categories]
### List all Topics [GET]
+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
        
    [VehicleCategory][]

## Topic [/api/app/topics/{id}]
A single Topic object. It includes topic questions.

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Quiz
    
+ Model (application/json)
    + Body
    
            {
                "id":9362889,
                "name": "Documents",
                "question_ids": [121,321,323]
            }


### Retrieve a Topic[GET]
+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
    
    [Topic][]

## Quiz [/api/app/quizzes/{id}]
Read a single Quiz object

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Quiz
    
+ Model (application/json)
    + Body
    
            {
                "id":9362889,
                "student_id":538262,
                "summary":null,
                "review":null,
                "complete":null,
                "reveal_answers":null,
                "case_study_id":26,
                "score":0,
                "current_position":1,
                "seconds_remaining":3415,
                "next_question":true,
                "previous_question":false,
                "topic_id":null,
                "current_question_id":179268199,
                "quiz_specification_id":50
                "quiz_questions": {
                    [{
                        "id": 136505995,
                        "quiz_id": 7048436,
                        "question_id": 2541,
                        "review": null,
                        "position": 1,
                        "correct": true,
                        "answer_a": "t",
                        "answer_b": "",
                        "answer_c": "",
                        "answer_d": "",
                        "answer_e": null,
                        "answer_f": null
                    }]
                }
            }


### Read a Quiz[GET]
+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
    
    [Quiz][]

## Create Quiz [/api/app/quizzes]
### Create a Quiz[POST]
Creates full quiz with answers(quiz questions).

+ Request

    + Headers

            Accept: application/json
            
    + Body
    
            {
                "quiz": {
                    "quiz_specification_id":70, 
                    "quiz_questions": [{
                        "question_id":3000, "answer_a":"t"
                    }], 
                    "created_at":"2013-03-28 13:39:31"
                }
            }
       

+ Response 200 (application/json)
    
    [Quiz][]

## Question [/api/app/questions/{id}]
A single Question object with all its details

*THIS IS NOT USED BY THE iOS APP*

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Question.
    
+ Model (application/json)

    JSON representation of Gist Resource. In addition to representing its state in the JSON form it offers affordances in the form of the HTTP Link header and HAL links.
    + Body

            {
                "question": {
                    "id":2567,
                    "topic_name":"Accidents",
                    "stem":"You have stopped at an incident to give help. Which THREE things should you do?",
                    "stem_image_path":"quiz/",
                    "mark_answer_text":"Mark three answers",
                    "answer":"ABE",
                    "option_a":"Keep injured people warm and comfortable",
                    "option_b":"Keep injured people calm by talking to them reassuringly",
                    "option_c":"Keep injured people on the move by walking them around",
                    "option_d":"Give injured people a warm drink",
                    "option_e":"Make sure that injured people are not left alone",
                    "option_f":null,
                    "image_a_path":"quiz/",
                    "image_b_path":"quiz/",
                    "image_c_path":"quiz/",
                    "image_d_path":"quiz/",
                    "image_e_path":"quiz/",
                    "image_f_path":"quiz/",
                    "northern_ireland_exempt":null,
                    "free":true,
                    "explanation":"There are a number of things you can do to help, even without expert training. Be aware of further danger and fire, make sure the area is safe. People may be in shock. Don\u2019t give them anything to eat or drink. Keep them warm and comfortable and reassure them. Don\u2019t move injured people unless there is a risk of further danger.",
                    "band_number":null,
                    "number_of_answers":3
                }
            }

### Retrieve a Question[GET]
+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    [Question][]


## QuizSpecification [/api/app/quiz_specifications/{id}]

Quiz types. For now you will probably want to use only:
* Practice everything
* Practive topic

A single QuizSpecification object with information about quiz

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the QuizSpecification.
    
+ Model (application/json)
    + Body

            {
                "id":2567,
                "name": "Free Full Car Test"
                "number_of_questions": 50
                "time_limit": 57
                "vehicle_category": "Car"
                "practice": false
                "free": true
            }


### Retrieve a QuizSpecification[GET]
+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
    
    [QuizSpecification][]

## QuizSpecification Collection [/api/app/quiz_specifications]
### List all QuizSpecifications [GET]
+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)
        
    [QuizSpecification][]
 